fastapi
uvicorn[standard]
 
sqlalchemy
psycopg2-binary
alembic
 
supabase
python-jose
cryptography
 
pydantic
pydantic-settings
pydantic[email]
 
requests==2.32.3
python-dotenv==1.0.1
 
pandas==2.2.2
 
streamlit==1.36.0
matplotlib==3.10.8
seaborn==0.13.2